<script src="js/bootstrap.bundle.js"></script>
<footer class="fixed-bottom">
    <div class="d-flex justify-content-center align-content-center">
        <h2 class="">Soy el footer</h2>
        <h2>Redes socialmedia</h2>
    </div>

</footer>