<!doctype html>
<html lang="es">
<head>
    <%- include("partials/header.ejs"); %>
</head>
<body class="fondo">
<%- include("partials/navbar");%>
<div class="container">
    <h2>Especificaciones del sitio</h2>
    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi cumque dolorum praesentium vel vero voluptas.
        Ad amet at consectetur earum id magni nostrum suscipit! Labore numquam sed totam vitae voluptas!</p>
    <h3>Documentación</h3>
</div>


<%- include("partials/footer");%>
</body>
</html>