<!doctype html>
<html lang="es">
<head>
    <%- include("partials/header.ejs"); %>
</head>
<body class="fondo">
  <%- include("partials/navbar");%>

  <h2>Hola desde node jade</h2>

<%- include("partials/footer");%>
</body>
</html>