<!doctype html>
<html lang="es">
<head>
    <%- include("partials/header.ejs"); %>
</head>
<body class="fondo">
<%- include("partials/navbar");%>

<h2>Contactame</h2>

<%- include("partials/footer");%>
</body>
</html>