<!doctype html>
<html lang="es">
<head>
    <%- include("partials/header.ejs"); %>
</head>
<body class="fondo">
<%- include("partials/navbar");%>

<h2>Contactame</h2>
<ul>
    <li>
        <a href="google.com" >Google.com</a>
    </li>
</ul>

<%- include("partials/footer");%>
</body>
</html>